html, header, body, div, span, h1, h2, h3, h4, h5, h6, p, section, a, figcaption, figure, article, nav, hgroup, footer ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
   }
